<%- include("../partials/user/profileHeader") %>
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div
                  class="col-lg-6 d-none d-lg-block login-bg-color text-center"
                >
                  <img src="/img/logo_white.svg" alt="" />
                  <h1 class="admin-login-h4"><strong>Welcome Back</strong></h1>
                </div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-2">
                        Change Password
                      </h1>
                      
                    </div>
                    <form
                      class="user"
                      method="post"
                      action="/user/resetPassword"
                      onsubmit="return validateForm()"
                    >
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control form-control-user"
                          id="password"
                          name="password"
                          placeholder="Enter New Password"
                        />
                      </div>
                      <div id="errorP1" class="text-danger"></div>


                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control form-control-user"
                          id="cPassword"
                          name="cPassword"
                          placeholder="Confirm Password"
                        />
                      </div>
                      <div id="errorP2" class="text-danger"></div>
                      <% if (success_msg.length > 0) { %>
                        <div class="alert alert-success alert-dismissible fade show shadow rounded p-3 text-center" role="alert">
                           <%= success_msg %>
                        </div>
                      <% } %>
                      
                      <% if (error_msg.length > 0) { %>
                        <div class="alert alert-danger alert-dismissible fade show shadow rounded p-3 text-center" role="alert">
                           <%= error_msg %>
                        </div>
                      <% } %>

                      <button
                        type="submit"
                        class="btn btn-primary btn-user btn-block"
                      >
                        Reset Password
                      </button>
                    </form>
                    <hr />
                    <div class="text-center">
                      <a class="small" href="/user/signup"
                        >Create an Account!</a
                      >
                    </div>
                    <div class="text-center">
                      <a class="small" href="/user/login"
                        >Already have an account? Login!</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script src="/js/script.js"></script>
    <script>
       function validateForm() {
    let valid = true;
    const password = document.getElementById('password');
    const cPassword = document.getElementById("cPassword");
    const errorP1 = document.getElementById("errorP1");
    const errorP2 = document.getElementById("errorP2");

        errorP1.textContent = "";
    errorP2.textContent = "";

        const alpha = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

 
    if (password.value.trim() === '') {
        errorP1.textContent = 'Password cannot be empty';
        valid = false;
    } else if (password.value.length < 8) {
        errorP1.textContent = 'Password must be at least 8 characters long';
        valid = false;
    } else if (!alpha.test(password.value)) {
        errorP1.textContent = "Password must include uppercase, lowercase, number, and special character";
        valid = false;
    }

        if (cPassword.value.trim() === '') {
        errorP2.textContent = " Please Re-enter the password";
        valid = false;
    } else if (password.value !== cPassword.value) {
        errorP2.textContent = "Passwords do not match";
        valid = false;
    }

    return valid;
}

    </script>
  </body>
</html>