<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/svg" sizes="20x20" href="/img/favicon.svg">

    <title>TyreX Admin</title>

    <!-- Custom fonts for this template-->
    <link
      href="/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <style>
      #wrapper {
    display: flex;
}

.sidebar {
    width: 250px; /* Adjust if needed */
    min-height: 100vh; /* Full height */
    margin-left: 0 !important; /* Ensure no unwanted margin */
    padding-left: 0 !important;
}
    </style>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav  sidebar sidebar-dark accordion bg_nav_color"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/admin/dashboard"
        >
        <div class="sidebar-brand-icon">
          <img src="/img/logo_white.svg" class="img-fluid" alt="Logo">
        </div>
          <div class="sidebar-brand-text mx-3">TyreX</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/admin/dashboard">
            <i class="fas  fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fas  fa-signal"></i>
            <span>Sales</span></a
          >
          </li>

          
        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading"><strong>Management</strong></div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link" href="/admin/products">
            <i class="fas fa-solid fa-store"></i>
            <span>Products</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">
            <i class=" fas fa-solid fa-users"></i>
            <span>Customers</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-solid fa-cart-arrow-down"></i>
            <span>Orders</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-solid fa-gift"></i>
            <span>Offers</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-solid fa-table"></i>
            <span>Category</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class=" fas fa-solid fa-money-bill"></i>
            <span>Coupons</span></a
          >
       </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-solid fa-list"></i>
            <span>Inventory</span></a
          >
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        
      </ul>